.btnBlock {
  text-align: center;
  margin-top: 2rem;
}
.btnSave {
  width: 30%;
  background-color: #84e2e2;
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
}
.btnSave:hover,
.btnSave:active {
  background-color: #70d1d1;
  color: white;
  outline: none;
}

.pricefield,
.proceedingfield {
  display: block !important;
}
.pricefield,
.proceedingfield {
  width: 30% !important;
}
label {
  font-weight: bold;
}
.imgfield,
.img1field,
.img2field {
  display: block;
}
label {
  display: block;
}
select {
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid rgb(207, 207, 207);
  padding: 0.2rem 0;
}
