<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/dbe26b9685.js" crossorigin="anonymous"></script>

<style>
  #navv:hover,#navbarDropdown:hover{
    color:black;
    font-weight: bolder;
  }
  #navv:active,#navbarDropdown:active{
    color:#84e2e2;
    font-weight: bolder;
  }
  #navvv{
    border-color: #84e2e2!important;
    border : solid 1px;
    color:#84e2e2!important;
    background-color: white;
  }
  .footer{
    bottom:0;
    width:100%;
    height:15%;
    background-color:#ddd;
    margin-top:7em;
    
    display: block;
    position: relative;
    
  }
 
</style>
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom-1 border-bottom p-0" style="background-color:white!important; ">
        <a class="navbar-brand ml-5 pl-2" href="{%url 'main' %}" style="font-weight : bold;"  id="navv">LOGO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto ml-2">
            <li class="nav-item  ">
              <a class="nav-link" href="{%url 'group_board' %}" style="font-weight : bold;"  id="navv">공동구매 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ml-2">
              <a class="nav-link" href="{%url 'fleaMarket' %}" style="font-weight : bold;" id="navv">벼룩시장</a>
            </li>
            <li class="nav-item ml-2">
                <a class="nav-link" href="{%url 'companyBuying' %}" style="font-weight : bold;" id="navv">공동구매 업체</a>
              </li>
            <li class="nav-item dropdown ml-2">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{apartment}}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  
              </div>
            </li>
          </ul>
          <ul class="navbar-nav mr-5">
              
                <li class="nav-item mr-3 mt-3 pt-1">
                  <form id="logout" method="POST" action="{% url 'logout' %}">
                    {% csrf_token %} <input class="bg-white text-black-50 border-0" style="font-weight : bold; font-size:smaller" type="submit" value="로그아웃">
                  </form> 
                  </li>
        
             
                <li class="nav-item mt-2 pt-1">
                    <button  id="navvv" class="rounded"><a class="nav-link rounded p-1"  href="#" style="color: #84e2e2; font-weight:bold">공동구매 업체 신청</a>
                    </button>
              </li>
          </ul>
        </div>
      </nav>
    {% block contents %}
    {% endblock %}
    
    <div class="footer text-center pt-3">
     
      <small>
      회사소개 | 개인정보방침 | 롯데건설 윤리경영 | CONTACT US<br>
      | 대표번호 : 02-111-2222 | 이메일 : abcd@naver.com | 멋쟁이 사자처럼 8기 가천대 |<br>
      개인정보취급방침 | 이용약관
      </small>
  </div>


    </div>
    </body>