{%extends 'base.html'%}
{%block contents%}
{%load static%}
<link rel="stylesheet" href="{%static 'fleaMarket_form.css'%}">
<div class="container" style="padding: 0 10rem;">
    <form method="POST" enctype='multipart/form-data' action = "{%url 'fleaMarket_detail_new'%}">
        {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
        <div class="btnBlock">
            <input type="submit" class="btn btnSave" value="저장"/>
        </div>
    </form>
</div>
{%endblock%}

<!-- fleaMarket detail img가 안들어가짐(저장하고 나오면 이미지 없음) -->