<!-- 댓글 수 가져오기 -->
{%extends 'base.html'%}
{%block contents%}
{%load static%}
<link rel="stylesheet" href="{%static 'groupPurchase_detail.css'%}">
<div class="container">
    <!-- detail-body -->
    <div class="detail-body">
        <!-- detail-info -->
        <div class="detail-info">
            {%if groupPurchase.proceeding == 1 %}
                <span class="process">진행중</span>
            {%else%}
                <span class="process">진행종료</span>
            {%endif%}
            <br>
            {%if groupPurchase.category == 1%}
                <span class="proceeding">가구</span>
            {%elif groupPurchase.category == 2%}
                <span class="proceeding">침구</span>
            {%elif groupPurchase.category == 3%}
                <span class="proceeding">패브릭</span>
            {%elif groupPurchase.category == 4%}
                <span class="proceeding">조명</span>
            {%elif groupPurchase.category == 5%}
                <span class="proceeding">홈데코</span>
            {%elif groupPurchase.category == 6%}
                <span class="proceeding">가전</span>
            {%elif groupPurchase.category == 7%}
                <span class="proceeding">수납/정리</span>
            {%elif groupPurchase.category == 8%}
                <span class="proceeding">생활용품</span>
            {%elif groupPurchase.category == 9%}
                <span class="proceeding">주방</span>
            {%elif groupPurchase.category == 10%}
                <span class="proceeding">DIY/공구</span>
            {%elif groupPurchase.category == 11%}
                <span class="proceeding">인테리어</span>
            {%else%}
                <span class="proceeding">반려동물</span>
            {%endif%}


            <h1 class="detail-title">{{groupPurchase.title}}</h1>

            {%for i in user_info.all%}
                {%if i.user_id == groupPurchase.writer%}
                <span class="user">{{i.nickname}}</span>
                {%endif%}
            {%endfor%}

            <span class="time"><i class="far fa-clock"></i>{{groupPurchase.date}}</span>
        </div>
        


        <img src="../media/{{groupPurchase.img}}" class="d-block w-100 h-50" alt="..." style="margin-top:2rem">


        <!-- detail-content -->
        <p class="detail-content">
            {{groupPurchase.contents|safe}}
        </p>
    </div>
</div>
<div class="container container2">
    <!-- comments-part -->
    <div class="comments-part">
        <div class="comments-head">
            <h1 class="comments-title">댓글</h1>
            
            <span class="count-comments">{{count}}</span>
            
        </div>
        <div class="input-comment">
            <i class="far fa-grin"></i>
            <form class="input-group" method="GET" id="createComment" action ="{%url 'groupPurchase_comment_new'%}">
                <input class="form-control" type="text" placeholder="댓글을 남겨 보세요." name="contents">
                <input type="text" value = "{{groupPurchase.id}}" name="groupPurchase_id" style="display: none;">
                <button type="submit" class="btn saveBtn" form="createComment">등록</button>
            </form>
        </div>
        {%for i in allComments.all%}
            {%if i.Group_buying_id == groupPurchase.id%}
            <div class="comment">
                <img src="../media/images/smile.png" alt="user-image" class="user-image">
                <div class="comment-name-content" style="display: block; width: 100%">

                    {%for j in user_info.all%}
                        {%if i.user_info_id == j.id%}
                            <h4 class="comment-name">{{j.nickname}}</h4>
                        {%endif%}
                    {%endfor%}


                    <p class="comment-content">
                        {{i.contents}}
                    </p>
                    <div class="comment-etc">
                        <span class="write-time">{{groupPurchase.date}}</span>
                        
                    </div>
                    
                </div>
            </div>
            {%endif%}
        {%endfor%}
    </div>
</div>

{%endblock%}