{%extends 'base.html'%}
{%block contents%}
{%load static%}
<link rel="stylesheet" href="{%static 'groupPurchase_form.css'%}">
<div class="container" style="padding: 0 10rem;">
    <form method="POST" enctype="multipart/form-data" action = "{%url 'groupPurchase_detail_new'%}">
        {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            사진: <input type="file" name="myfile">
            <div class="btnBlock">
                <input type="submit" class="btn btnSave" value="저장"/>
            </div>
    </form>
</div>
{%endblock%}