<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
<!-- 부트스트랩 -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<!-- 부트스트랩 -->

<style>
    .scenter
    {
       text-align: center;
       align-content: center;
       color: #FFFFFF;
    }
    body{background-color: black;}
</style>


</head>
<body>
    <div class=" container col">
        <div class="row" style="height:8rem"></div>
     <div class="row">


    <div class="col-2"></div>

    <div class="col-8">
        <div class="container scenter">

            <h1 style="z-index: 99;">롯데 와 중소기업의 만남</h1>
            <h3 style="z-index: 99;">지금 Castle-us 에서만</h3>
            <img src="https://mblogthumb-phinf.pstatic.net/MjAxNjExMDNfMjg4/MDAxNDc4MTU2MzM3OTEw.SfqjIyn-CVWdcEjd3mHHIdctjyUZszhrnuVfjhQFZEgg.Dweiwx4EguTTb-7lxoJG2vff9KE1J_ymC4G9rUHl8Rcg.PNG.ppanppane/%25EB%25A1%25AF%25EB%258D%25B0%25EC%25BA%2590%25EC%258A%25AC_%25EB%25A1%259C%25EA%25B3%25A0_(1).png?type=w800" style="z-index:-9999">
        </div>



    </div>
</div>
    <div class="col-2"></div>











  </div>
</body>
</html>