{% extends 'base.html' %}

{% block contents %}
<body>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="http://www.lottecastle.co.kr/imgViewer.do?fpath=CM0007&fnm=2020062635784391593157249023.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="http://www.lottecastle.co.kr/imgViewer.do?fpath=CM0007&fnm=2020081946949491597789968013.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="http://www.lottecastle.co.kr/imgViewer.do?fpath=CM0007&fnm=2020062685749531593156591657.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="http://www.lottecastle.co.kr/imgViewer.do?fpath=CM0007&fnm=2020091718770441600333015359.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="http://www.lottecastle.co.kr/imgViewer.do?fpath=CM0007&fnm=2020062744044751593237202319.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
</body>
{% endblock %}