<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

      <!-- 부트스트랩 -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
  crossorigin="anonymous"></script>
<!-- 부트스트랩 -->

<style>
.tbox{
        height: 40vh;
        align-content: center;
        left: 50vh;
}

.tbox h1{
    text-align: center;
    margin:auto;
    color: #8c7249;
    font-size: 3rem;
}
</style>
</head>
<body style="background-color: black;">
    <div clsss="container-fluid">
    <div class="col" style="height:1000px;">
        <div class="row tbox">

            <h1>롯데캐슬과 중소기업의<br>
                아름다운<br>
                만남
            </h1>
        </div>


        <div class="row">
            <div class="col"></div>
            <div class="col" style="margin: auto;"> <img style="width:20rem; height:20rem; margin-left:15vh; background-color:black"src="https://mblogthumb-phinf.pstatic.net/MjAxNjExMDNfMTk3/MDAxNDc4MTU2MzM3Njk2.SS0HCEesoMeA7uEdew54wKZaD4yaOWqTRdQrvkW7Ru8g.6RvndHDF7Bt8hiIR7pw8XNqLV9L8ezbUiNv333H4V5kg.PNG.ppanppane/%EB%A1%AF%EB%8D%B0%EC%BA%90%EC%8A%AC_%EB%A1%9C%EA%B3%A0_%282%29.png?type=w800">
            </div>
            <div class="col"></div>
        </div>


        <div class="row"></div>


    </div>
</div>



</body>
</html>