<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <link rel="stylesheet" href="../static/css/css.css">
</head>
<body style="background-color: black;">
  <div class="shadow-title parallax-top-shadow">LotteUs</div>
  <div class="section-parallax parallax-00" style="background-image: url('../static/img/03_Signature\ 1_Chandelier\ Gold\ A.png');"></div>


<div class="section full-height">
  <div class="section-title-wrap">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center parallax-fade-top">
          <p></p>	
          <h1>Why Lotte<br>Just with US</h1>
        </div>
      </div>	
    </div>
  </div>
</div>

<div class="section full-height z-bigger">
  <ul class="case-study-wrapper" >
    <li class="case-study-name">                            	
      <a href="#" class="hover-target">역사</a>
    </li>
    <li class="case-study-name">                                         	
      <a href="#" class="hover-target">정성</a>
    </li>
    <li class="case-study-name">                                        	
      <a href="#" class="hover-target">조화</a>
    </li>
    <li class="case-study-name">                                         	
      <a href="#" class="hover-target">매너</a>
    </li>
  </ul>
  <ul class="case-study-images">
    <li>
      <div class="img-hero-background">
        <img src="http://www.lottecastle.co.kr/_img/img_castleHistory.jpg"style="height:30rem; alt="">
      </div>  
      <div class="hero-number-back">01</div> 
      <div class="hero-number">01</div> 
      <div class="hero-number-fixed">04</div> 
      <div class="case-study-title">11년간 정성을 담아 쌓아올린 브랜드 입지.</div> 
    </li>
    <li>
      <div class="img-hero-background">
        <img src="http://www.lottecastle.co.kr/_img/ciList01.jpg" alt="" style="height:30rem;">
      </div> 
      <div class="hero-number-back">02</div> 
      <div class="hero-number">02</div>  
      <div class="case-study-title">깊은 고민과 앞선 생각으로 감동을 담습니다.</div> 
    </li>
    <li>
      <div class="img-hero-background">
        <img src="http://www.lottecastle.co.kr/imgViewer.do?fpath=CM0021/CM0021&fnm=ciList02_1.jpg" style="height:30rem;alt="">
      </div>
      <div class="hero-number-back">03</div>  
      <div class="hero-number">03</div> 
      <div class="case-study-title">삶의 질을 높이고, 주거 문화의 품격을 실현합니다.</div> 
    </li>
    <li>
      <div class="img-hero-background">
        <img src="http://www.lottecastle.co.kr/_img/ciList03.jpg" style="height:30rem;alt="">
      </div> 
      <div class="hero-number-back">04</div> 
      <div class="hero-number">04</div> 
      <div class="case-study-title">공감하는 마음과 타인을 바라보는 따뜻한 눈은 에티켓 입니다.</div> 
    </li>
  </ul>	
</div>

<div class="section padding-top-bottom over-hide background-dark z-bigger-2">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7 text-center">
        <a href="#" class="hover-target">
          <div class="project-link-wrap">
            <a href="registerc"><p>Join LotteUs</p></a>
          </div>
        </a>
      </div>
    </div>	
  </div>			
</div>

<!-- Scroll back to top
================================================== -->

<div class="scroll-to-top hover-target"></div>

<!-- Page cursor
================================================== -->

<div class='cursor' id="cursor"></div>
<div class='cursor2' id="cursor2"></div>
<div class='cursor3' id="cursor3"></div>

<!-- Link to page
================================================== -->


</body>
<script src="../static/js/script.js"></script>
</html>