<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  
  <!-- 부트스트랩 -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  <!-- 부트스트랩 -->

  <style>
    .nav {
      height: 20px;
    }

    hr {
      border-width: 3px;
    }

    .bhr {
      border-width: 4px;
      border-color: black;
    }

    .regicheck {
      width: 2rem;
      height: 2rem;
      color: #00C4C3;
    }
    .btn-primary
    {
      position: relative;
      left:70%;
    }

    .lbtn
    {
      background-color: black;
      color: rgb(255, 255, 255);
      border-color: rgba(100, 148, 237, 0);
      border-radius: 30px;
    }
    .rbtn
    {
      background-color: #00C4C3;
      color: rgb(255, 255, 255);
      border-radius: 30px;
      border-color: rgba(100, 148, 237, 0);
    }
    .btn{
      background-color: #ffffff;
      border-color: rgba(100, 148, 237, 0);
    }

    a{
      color: black;
    }
  #first_name
{
  border: none;
  width: 3.2rem;
  height: 1.5rem;
  font-size: 1rem;
}
span{
  font-size: 1rem;
}
 


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
  </style>


  <script type="text/javascript">
    // 선택한 리스트 위로 올리기
    function listUp(){
     var sb= document.getElementById("sb");
     var index = sb.selectedIndex;
     var total = sb.options.length-1;
     if(index == -1){
      return false;
     }
     if(index == 0){
      return false;
     }
    
     var items = new Array;
     var values = new Array;
    
     for(var i = total; i >= 0; i--){
      items[i] = sb.options[i].text;
      values[i] = sb.options[i].value;
     }
     sb.length = 0;
    
     for(var i = 0; i <= total; i++){
      if(i == index - 1){
       sb.options[i] = new Option(items[index], values[index]);
       sb.options[i+1] = new Option(items[i], values[i]);
       i++;
      }else{
       sb.options[i] = new Option(items[i], values[i]);
      }
     }
     sb.selectedIndex = index - 1;
    }
    // 선택한 리스트 아래로 내리기
    function listDown(){
     var sb= document.getElementById("sb");
     var index = sb.selectedIndex;
     var total = sb.options.length-1;
     if(index == -1){
      return false;
     }
     if(index == total){
      return false;
     }
     var items = new Array;
     var values = new Array;
     for (i = total; i >= 0; i--) {
      items[i] = sb.options[i].text;
      values[i] = sb.options[i].value;
     }
     sb.length=0;
    
     for(var i = total; i >= 0; i-- ){
      if(i == index + 1){
       sb.options[i]=new Option( items[index], values[index] );
       sb.options[i - 1] = new Option( items[i], values[i] );
       i--;
      }else{
       sb.options[i]=new Option( items[i], values[i] );
      }
     }
     sb.selectedIndex = index+1;
    }
    // 더블 클릭 시 리스트 삭제
    function delsel(val){
     for(var j = 0; j < document.getElementById("sb").options.length; j++){
      if(document.getElementById("regionView").options[j].value == val){
       document.getElementById("sb").options[j] = null;
      }
     }
    }
    // 리스트 전체 삭제
    function clearList(){
    var sb = document.getElementById("sb");
    sb.options.length = 0;
    }
    </script>
    
    
</head>

<body>

  <div class="container mt-5">
    <h1>회원가입</h1>
    <div class="row mt-3">
      <div class="col">
        <div class="progress">
          <div class="progress-bar" style="width:90%;  background-color: #00C4C3;"></div>
        </div>
      </div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
 

<!---->
<form method="POST" action="{%url 'registerc'%}">
  {% csrf_token %} 
  <div class="form-row">
     <div class="container-fluid p-1" ><input type="text" class="text-white" id="first_name" name="firstname"readonly value="사업자"/>
    </div> 
  <!-- <input type="hidden" value"개인w" name="firstname"> -->


 
  </div>
    
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputAddress" >아이디</label>
        <input type="id" class="form-control" id="inputEmail4" name="username">
      </div>
      <input type="hidden" name='isUser' value="true">

      <div class="form-group col-md-6 mt-2">
        <label for="inputAddress"></label>비밀번호</label>
        <input type="password" class="form-control" id="inputPassword4"  name="password">
      </div>
    </div>
    





    <div class="form-row">

      <div class="form-group col">
        <label for="inputEmail4" >회사전화번호 (-없이)</label>
        <input type="number" class="form-control" id="inputEmail2" name="phone" placeholder="01012341234">
      </div>


     
      <div class="form-group col">
        <label for="inputEmail4" >사업자 이름</label>
        <input type="text" class="form-control" id="inputEmail2" name="cname" placeholder="롯데">
      </div>
      </div>
    <div class="form-row">


      <div class="form-group col">
        <label for="inputEmail4" >사업자 대표 사진</label>
        <input type="file" class="form-control" id="cimg" name="cimg" accept="image/gif,image/jpeg,imege/png">
      </div>

    </div>


    <div class="form-group">
      <label for="exampleFormControlTextarea1">사업자를 소개할 문구를 적어주세요</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="ctext"></textarea>
    </div>

    </div>
    <!-- <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div> -->
 


<!---->

<div class="row mt-5 d-flex justify-content-center">

<div class="col-auto-md mr-3"><a href="{%url 'register'%}"><button type="button" class="lbtn btn-lg">뒤로가기</button></div></a>
<div class="col-auto-md ml-3"><a href="{%url 'register3'%}"><button type="submit" class="rbtn  btn-lg">다음으로</button></div></a>

</form>




</div>




</body>

</html>